.block {
	position: relative;
	z-index: 2;
}

.block__age {
	position: relative;
	z-index: 2;
	font-size: 34px;
	line-height: 1.1;
	color: #000000;
	padding-bottom: 20px;
	font-family: AngleciaProTitle;
	font-weight: 500;
}

.block__title {
	font-size: 95px;
	line-height: 1;
	color: #02add5;
	padding-bottom: 26px;
	font-family: BerlingskeSerif;
	font-weight: 300;
}

.block__title span {
	display: block;
	font-size: 107px;
	line-height: 1;
	color: #000;
	font-weight: 600;
}

.block__text {
	max-width: 570px;
	padding-bottom: 50px;
}

.block__text p {
	font-size: 35px;
	line-height: 1.2;
	color: #000000;
	font-family: AngleciaProTitle;
	font-weight: 500;
}

.block__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 130px;
}

.block__entry {
	max-width: 320px;
	width: 100%;
	display: block;
	cursor: pointer;
	position: relative;
	font-size: 28px;
	color: #fefefe;
	border: none;
	outline: none;
	box-shadow: inset 0 0 12px #d4291c;
	border-radius: 40px;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #b70c00 0%, #ec2314 100%);
	padding: 23px 5px;
	padding-left: 90px;
	text-align: left;
	margin-bottom: 20px;
	margin-right: 30px;
	font-family: AngleciaProTitle;
	font-weight: 500;
}

.block__entry:after {
	position: absolute;
	content: ' ';
	top: calc(50% - 11px);
	left: 65px;
	width: 12px;
	height: 22px;
	background-size: contain;
	background-image: url(../img/icons/pen.png);
	background-repeat: no-repeat;
}

.block__video {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0px;
	margin-bottom: 20px;
}

.block__box {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: inset 1px -4px 3px rgba(0, 0, 0, 0.2), inset 0 0 12px #01a0c5;
	background-color: #0b0a0f;
	background-image: linear-gradient(to top, #0186a5 0%, #03c5f2 100%);
	margin-right: 25px;
}

.block__box:after {
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	top: 50%;
	left: calc(50% - 6px);
	transform: translateY(-50%);
	border-style: solid;
	border-width: 12px 0 12px 18px;
	border-color: transparent transparent transparent #fff;
}

.block__elem {
	display: block;
	font-size: 24px;
	line-height: 1.2;
	color: #000000;
	text-align: left;
	padding-bottom: 5px;
	font-family: MuseoSansCyrl;
	font-weight: 700;
}

.block__time {
	display: block;
	font-size: 20px;
	line-height: 1.2;
	color: #757575;
	text-align: left;
	font-family: AngleciaProTitle;
	font-weight: 500;
}

.block__anniversary {
	max-width: 205px;
	position: relative;
	top: 25px;
}

.block__anniversary img {
	display: block;
}

@media screen and (max-width: 1650px) {

.block__title {
	font-size: 60px;
}

.block__title span {
	font-size: 65px;
}

.block__text {
	max-width: 400px;
}

}

@media screen and (max-width: 1199px) {

.block__inner {
	display: block;
}

}

@media screen and (max-width: 1050px) {

.block__age {
	text-align: center;
}

.block__title {
	font-size: 43px;
	text-align: center;
}

.block__title span {
	font-size: 48px;
}

.block__text {
	margin: 0 auto;
}

.block__text p {
	font-size: 30px;
	text-align: center;
}

.block__inner {
	padding-bottom: 430px;
}

.block__entry {
	font-size: 20px;
	padding: 16px 5px;
	padding-left: 65px;
	margin: 0 auto;
	margin-bottom: 35px;
}

.block__entry:after {
	left: 40px;
}

.block__video {
	margin: 0 auto;
}

.block__anniversary {
	margin: 0 auto;
}

}

@media screen and (max-width: 780px) {

.block__age {
	padding-bottom: 15px;
}

.block__title {
	padding-bottom: 20px;
}

.block__text {
	max-width: 255px;
}

.block__text p {
	font-size: 24px;
}

.block__box {
	width: 58px;
	height: 58px;
}

.block__box:after {
	border-width: 8px 0 8px 10px;
	left: calc(50% - 4px);
}

.block__elem {
	font-size: 17px;
}

.block__time {
	font-size: 14px;
}

}

@media screen and (max-width: 560px) {

.block__inner {
	padding-bottom: 180px;
}

.block__video {
	padding-bottom: 70px;
}

}

@media screen and (max-width: 400px) {

.block__video {
	padding-bottom: 60px;
}

}

