.desc .question__title {
	padding-top: 85px;
}

.desc__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -45px;
	margin-top: 30px;
	padding-bottom: 135px;
}

.desc__item {
	width: calc(100% / 2 - 90px);
	margin: 0 45px;
	margin-bottom: 40px;
}

.desc__wrap {
	margin-bottom: 52px;
}

.desc__position {
	font-size: 19px;
	line-height: 1.5;
	color: #636363;
	padding-bottom: 5px;
	font-family: MuseoSansCyrl;
	font-weight: 100;
}

.desc__info {
	font-size: 35px;
	line-height: 1.1;
	color: #000000;
	padding-bottom: 30px;
	font-family: AngleciaProTitle;
	font-weight: 500;
}

.desc__box {
	outline: none;
	display: flex;
	align-items: center;
}

.desc__box img {
	display: block;
	width: 100%;
	max-height: 570px;
	min-height: 570px;
	border-radius: 10px;
	object-fit: cover;
}

.desc__content p {
	font-size: 19px;
	line-height: 1.5;
	color: #484848;
	padding-bottom: 1.4em;
	font-family: MuseoSansCyrl;
	font-weight: 400;
}

.desc__dots {
	position: relative;
}

.desc__dots-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.desc__dots-list li {
	position: relative;
	cursor: pointer;
	font-size: 22px;
	width: 46px;
	color: #8c8c8c;
	z-index: 0;
	text-align: center;
	padding: 2px;
	margin: 0 10px;
	font-family: AngleciaProTitle;
	font-weight: 500;
	transition: 0.3s all;
}

.desc__dots-list li:after {
	content: "";
	display: block;
	position: absolute;
	left: 2px;
	right: 2px;
	top: calc(50% - 2px);
	width: 100%;
	height: 3px;
	background-color: #000000;
	opacity: 0;
	transition: 0.3s all;
}

.desc__dots-list li.slick-active {
	color: #0ba5da;
	font-size: 0;
}

.desc__dots-list li.slick-active:after {
	opacity: 1;
	color: transparent;
}

.desc__arrows {
	display: flex;
	justify-content: center;
}

.desc__arrow {
	position: relative;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
}

.desc__arrow:after {
	position: absolute;
	content: ' ';
	width: 12px;
	height: 12px;
	top: calc(50% - 6px);
	left: calc(50% - 4px);
	border-left: 2px solid rgba(0, 0, 0, 0.5);
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.desc__arrow:hover:after {
	border-color: black;
}

.desc__arrow--dir_right {
	transform: scaleX(-1);
}

@media screen and (max-width: 960px) {

.desc__inner {
	margin: 0px;
	padding-bottom: 15px;
}

.desc__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 40px;
}

}

@media screen and (max-width: 780px) {

.desc__dots-list li {
	font-size: 18px;
	margin: 0 6px;
	width: 33px;
}

}

